/* Header CSS is below */
:root {
  --header-color: #297FB8;
  --grey: #F2F2F2;
  --lightblue: #CEF0FF;
  --blue: #297FB8;
  --blackish: #0C1213;
  --heroDisplayColor: #F5F7F6;
}
.container{

}
.header{

}

.header .container {

}

.header .container  .logo{

}

.header .container .header-links{

}

.header .container .header-links .header-link{

}

.header .container .fa{

}


/* Section One CSS is below */
.section1{

}

.section1 .container{

}
.section1 .container .row{

}

.section1 .container .row .left-side{

}

.section1 .container .row .right-side{

}
.section1 .container .row .right-side img{

}

/* Section Two CSS is below */

.section2{

}

.section2 .container{
  
}

.section2 .container .row1{

}

.section2 .container .row1 .left-side{

}

.section2 .container .row1 .left-side img{

}

.section2 .container .row1 .right-side{

}

.section2 .container .row1 .right-side .section-title{
  
}

.section2 .container .row1 .right-side .paragraph{
  
}

.section2 .container .row1 .right-side .btn{

}

.section2 .container .row2{

}

.section2 .container .row2 .col{
  
}
.section2 .container .row2 .grid-item{


}

.section2 .container .row2 .grid-item-alt{
  
}
.section2 .container .row2 .grid-item-alt .grid-item-title{
  
}

.section2 .container .row2 .grid-item .fa{
  

}

.section2 .container .row2 .grid-item .grid-item-title{
 
}

.section2 .container .row2 .grid-item .grid-item-text{

}

/* Section Three CSS is below */

.section3{
  
}

.section3 .container{

}

.section3 .container .section3-top{

}

.section3 .container .section3-top .sub-title{
  
}

.section3 .container .section3-top .title{
  
}

.section3 .container .row{
  
}

.section3 .container .row .col{
  
}

.section3 .container .row .col .grid-item{
  
}

.section3 .container .row .col .grid-item .icon{
  
}

.section3 .container .row .col .grid-item .grid-item-title{
  
}

.section3 .container .row .col .grid-item .grid-item-text{
  
}

/* Section Four CSS is below */
.section4{
  
}

.section4 .container{
  
}

.section4 .container .section4-top{
  
}

.section4 .container .section4-top .sub-title{
  
}

.section4 .container .section4-top .title{
  
}

.section4 .container .row{
  
}

.section4 .container .row .col{
  
}

.section4 .container .row .col .grid-item{
  
}

.section4 .container .row .col .grid-item.grid-item-alt{
  
}


.section4 .container .row .col .grid-item .grid-item-top{
  
}

.section4 .container .row .col .grid-item .grid-item-top .teacher-icon{
  
}
.section4 .container .row .col .grid-item .grid-item-top .teacher-info{
  

}

.section4 .container .row .col .grid-item .grid-item-top .teacher-name{
  
}

.section4 .container .row .col .grid-item .grid-item-top .location{
  
}

/* Section Five CSS is below */

.section5{

}

.section5 .container{
  
}

.section5 .container .section5-top{
  
}

.section5 .container .section5-top{
  
}

.section5 .container .section5-top .sub-title{
  
}

.section5 .container .section5-top .title {
  
}

.section5 .container .row{
  
}

.section5 .container .row .col{
  
}

.section5 .container .row .col .grid-item{
  
}

.section5 .container .row .col .grid-item .fa{
  
}
.section5 .container .row .col .grid-item .grid-item-right{
  
}
.section5 .container .row .col .grid-item .grid-item-right .money{

}

.section5 .container .row .col .grid-item .grid-item-right .grid-item-sub-text{

}

/* Section Six CSS is below */

.section6{}

.section6 .container{}

.section6 .container .row .left-side{}

.section6 .container .row .left-side .button-wrapper{
  
}
.section6 .container .row .left-side .btn{
  
}
.section6 .container .row .right-side{

}


.section6 .container .row .right-side img{
  
}

.footer{
  
}
